#footer.pdtb
		p.exp
			span.iblock.mgr.mgb some buttons:  
			a.btn.btn-primary.addBubble.mgr.mgb(href='javascript:;', title='Add a bubble') Add one more
			a.btn.btn-warning.faster.mgr.mgb(href='javascript:;', title='Faster') Faster
			a.btn.btn-danger.fish.mgr.mgb(href='javascript:;', title='Oh my heart!') Change!
			a.btn.btn-default.stop.mgr.mgb(href='javascript:;', title='Pause/Continue') Stop it!
		hr
		p
			span.blogdescription jade-editor.com by ZHAO Xudong
		div#debug

