#ie-warn.container
	#ie-warn-content
		.jumbotron.font28.pd.mgtb
			h2.color Your browser is obsolete
			p get a modern browser!
			p.pdtb.borderb
				i.browser.iblock.ie9 Internet Explorer
				i.color-red.iblock.mgl &times;
			p.pdtb.borderb
				i.browser.iblock Opera
				i.color-green.iblock.mgl &radic;
				br
				a.btn.btn-primary.mgt(href='http://www.opera.com/') Download
			p.pdtb.borderb
				i.browser.iblock Google Chrome
				i.color-green.iblock.mgl &radic;
				br
				a.btn.btn-primary.mgt(href='http://www.google.cn/intl/zh-CN/chrome/') Download
			p.pdtb
				i.browser.iblock Firefox
				i.color-green.iblock.mgl &radic;
				br
				a.btn.btn-primary.mgt(href='http://www.firefox.com/') Download